html {
  position: relative;
}

iframe.vomnibar-frame {
  width: 100% !important;
  height: 100vh !important;
  display: block !important;
  border: none !important;
  position: absolute !important;
  left: 0px !important;
  top: 0 !important;
  margin: 0px !important;
  background-image: url("../resources/wallpaper.png");
  background-size: cover;
  background-position: bottom;
}
