@use "../../../style" as *;

.workspace.component {

  .workspace-navigator {
    #button.ws {
      padding-right: 10px;

      &:last-child {
        margin-right: -10px;
      }
    }
  }


  button.window-navigator {
    label {
      font-size: 14px;
    }

    &:last-child {
      padding-right: 5px;
    }
  }

  button {
    background: transparent;
    font-size: $font-size;
    padding: 0px;
    min-width: 20px;
    border: none;
    color: $lavender;

    label {
      border: none;
    }
  }
}
