#![enable(implicit_some)]
#![enable(unwrap_newtypes)]
#![enable(unwrap_variant_newtypes)]
(
    show_song_table_header: true,
    draw_borders: false,
    browser_column_widths: [20, 38, 42],
    background_color: "#303446",
    modal_backdrop: true,
    text_color: "#c6d0f5",
    header_background_color: "#303446",
    modal_background_color: "#414559",
    preview_label_style: (fg: "#e5c890"),
    preview_metadata_group_style: (fg: "#e5c890"),
    song_table_album_separator: None,
    tab_bar: (
      active_style: (fg: "#303446", bg: "#babbf1", modifiers: "Bold"),
      inactive_style: (),
    ),
    highlighted_item_style: (fg: "#e5c890"),
    current_item_style: (fg: "#303446", bg: "#b7bdf8"),
    borders_style: (fg: "#737994"),
    highlight_border_style: (fg: "#737994"),
    symbols: (
      song: "󰝚 ", dir: "", playlist: "󰲸 ", marker: "* ", ellipsis: "...",
      song_style: (fg: "#8caaee"), 
      dir_style: (fg: "#e5c890"),
      playlist_style: (fg: "#a6d189"),
    ),
    progress_bar: (
      symbols: ["", "█", "", "█", "" ],
      track_style: (fg: "#626880", bg: None),
      elapsed_style: (fg: "#babbf1", bg: None),
      thumb_style: (fg: "#babbf1", bg: "#626880"),
    ),
    scrollbar: (
      symbols: ["┋", "█", "󰶼", "󰶹"],
      track_style: (fg: "#b7bdf8"),
      ends_style: (fg: "#b7bdf8"),
      thumb_style: (fg: "#b7bdf8"),
    ),
    song_table_format: [
      (
        label: "#",
        prop: (kind: Property(Position), style: (fg: "#cad3f5"),
          default: (kind: Text("?"))),
        width: "3"
      ),
      (
        label: "Title",
        prop: (kind: Property(Title), style: (fg: "#cad3f5"),
          default: (kind: Property(Filename))),
        width: "50"
      ),
      (
        label: "Rating",
        prop:
          (kind: Transform(Replace(content: (kind: Sticker("rating")), replacements: [
            (match:  "0", replace: (kind: Group([(kind: Text("    "), style: (fg: "#e5c890"))]))),
            (match:  "1", replace: (kind: Group([(kind: Text("    "), style: (fg: "#e5c890"))]))),
            (match:  "2", replace: (kind: Group([(kind: Text("    "), style: (fg: "#e5c890"))]))),
            (match:  "3", replace: (kind: Group([(kind: Text("    "), style: (fg: "#e5c890"))]))),
            (match:  "4", replace: (kind: Group([(kind: Text("    "), style: (fg: "#e5c890"))]))),
            (match:  "5", replace: (kind: Group([(kind: Text("    "), style: (fg: "#e5c890"))]))),
          ])), default: (kind: Text("    "), style: (fg: "#e5c890"))),
        width: "9"
      ),
      (
        label: "",
        prop: (kind: Sticker("playCount"), style: (fg: "#cad3f5"),
          default: (kind: Text("0"))),
        width: "2"
      ),
      (
        prop: (kind: Property(Album), style: (fg: "#cad3f5"),
        default: (kind: Text("Unknown Album"))),
        width: "100%"
      ),
      (
        prop: (kind: Property(Duration), style: (fg: "#cad3f5"),
        default: (kind: Text("-"))),
        width: "8", alignment: Right
      ),
    ],
    layout: Split(
      direction: Vertical, panes: [
        (size: "3", borders: "ALL", pane: Pane(Tabs)),
        (size: "100%", borders: "NONE", pane: Pane(TabContent)),
        (size: "5", borders: "ALL", pane: Component("custom-header")),
        (size: "3", borders: "ALL", pane: Component("custom-progressbar")),
      ]),
    header: (rows: [
      (
        left: [
          (kind: Text(" [ "), style: (fg: "#babbf1", modifiers: "Bold")),
          (kind: Transform(Replace(content: (kind: Sticker("rating")), replacements: [
            (match:  "0", replace: (kind: Group([(kind: Text("    "), style: (fg: "#e5c890"))]))),
            (match:  "1", replace: (kind: Group([(kind: Text("    "), style: (fg: "#e5c890"))]))),
            (match:  "2", replace: (kind: Group([(kind: Text("    "), style: (fg: "#e5c890"))]))),
            (match:  "3", replace: (kind: Group([(kind: Text("    "), style: (fg: "#e5c890"))]))),
            (match:  "4", replace: (kind: Group([(kind: Text("    "), style: (fg: "#e5c890"))]))),
            (match:  "5", replace: (kind: Group([(kind: Text("    "), style: (fg: "#e5c890"))]))),
          ])), default: (kind: Text("    "), style: (fg: "#e5c890"))),
          (kind: Text(" ]"), style: (fg: "#babbf1", modifiers: "Bold")),
        ],
        center: [
          (kind: Property(Song(Title)), style: (fg: "#e5c890",modifiers: "Bold"), default: (kind: Text("No Song"), style: (fg: "#c6d0f5")))
        ],
        right: [
          (kind: Text("[ "), style: (fg: "#babbf1", modifiers: "Bold")),
          (kind: Property(Status(Volume)), style: (fg: "#e5c890")),
          (kind: Text("%"), style: (fg: "#e5c890", modifers: "Bold")),
          (kind: Text(" ] "), style: (fg: "#babbf1", modifiers: "Bold"))
        ]
      ),
      (
        left: [
          (kind: Text(" [ "),style: (fg: "#babbf1", modifiers: "Bold")),
          (kind: Property(Song(Other("genre"))), default: (kind: Text("-")), style: (fg: "#c6d0f5")),
          (kind: Text(" | "),style: (fg: "#babbf1", modifiers: "Bold")),
          (kind: Property(Song(Other("date"))), default: (kind: Text("-")), style: (fg: "#c6d0f5")),
          (kind: Text(" | "),style: (fg: "#babbf1", modifiers: "Bold")),
          (kind: Property(Song(Disc)), default: (kind: Text("")), style: (fg: "#c6d0f5")),
          (kind: Text("-"),style: (fg: "#babbf1", modifiers: "Bold")),
          (kind: Property(Song(Track)),style: (fg: "#c6d0f5")),
          (kind: Text(" | "),style: (fg: "#babbf1", modifiers: "Bold")),
          (kind: Property(Status(Bitrate)),default: (kind: Text("0")),style: (fg: "#c6d0f5")),
          (kind: Text(" kbps"),style: (fg: "#c6d0f5")),
          (kind: Text(" ]"),style: (fg: "#babbf1", modifiers: "Bold"))
        ],
        center: [ 
            (kind: Property(Song(Artist)), style: (fg: "#c6d0f5"), default: (kind: Text("Unknown Artist"), style: (fg: "#c6d0f5"))),
            (kind: Text(" - "), style: (fg: "#babbf1")),
            (kind: Property(Song(Album)), style: (fg: "#c6d0f5"), default: (kind: Text("Unknown Album"), style:(fg:"#c6d0f5")))
        ],
        right: [
          (kind: Text(" [ "), style: (fg: "#babbf1", modifiers: "Bold")),
          (kind: Sticker("playCount"), default: (kind: Text("0"))),
          (kind: Text(" "),style: (fg: "#babbf1", modifiers: "Bold")),
          (kind: Text(" | "), style: (fg: "#babbf1", modifiers: "Bold")),
          (kind: Property(Status(QueueLength())),style: (fg: "#c6d0f5")),
          (kind: Text(" 󰴍"), style: (fg: "#c6d0f5", modifiers: "Bold")),
          (kind: Text(" | "), style: (fg: "#babbf1", modifiers: "Bold")),
          (kind: Property(Status(QueueTimeTotal(separator: " "))),style: (fg: "#c6d0f5")),
          (kind: Text(" 󱎫"), style: (fg: "#c6d0f5", modifiers: "Bold")),
          (kind: Text(" | "), style: (fg: "#babbf1", modifiers: "Bold")),
          (kind: Property(Status(RepeatV2(
            on_label: "", 
            off_label: "",
            on_style: (fg: "#e5c890", modifiers: "Bold"), 
            off_style: (fg: "#c6d0f5", modifiers: "Bold"))))),
          (kind: Text(" | "), style: (fg: "#babbf1", modifiers: "Bold")),
          (kind: Property(Status(RandomV2(
            on_label: "", 
            off_label: "",
            on_style: (fg: "#e5c890", modifiers: "Bold"), 
            off_style: (fg: "#c6d0f5", modifiers: "Bold"))))),
          (kind: Text(" | "), style: (fg: "#babbf1", modifiers: "Bold")),
          (kind: Property(Status(ConsumeV2(
            on_label: "󰮯", 
            off_label: "󰮯", 
            oneshot_label: "󰮯󰇊",
            oneshot_style: (fg: "#e5c890", modifiers: "Bold"),
            on_style: (fg: "#e5c890", modifiers: "Bold"), 
            off_style: (fg: "#c6d0f5", modifiers: "Bold"))))),
          (kind: Text(" | "), style: (fg: "#babbf1", modifiers: "Bold")),
          (kind: Property(Status(SingleV2(
            on_label: "󰎤", 
            off_label: "󰎦", 
            oneshot_label: "󰇊", 
            off_oneshot_label: "󱅊",
            oneshot_style: (fg: "#e5c890", modifers: "Bold"),
            off_oneshot_style: (fg: "#c6d0f5", modifiers: "Bold"),
            on_style: (fg: "#e5c890", modifiers: "Bold"), 
            off_style: (fg: "#c6d0f5", modifiers: "Bold"))))),
          (kind: Text(" ] "), style: (fg: "#babbf1", modifiers: "Bold")),
        ]
      ),
      ], 
    ),
    browser_song_format: [
      (kind: Group([
        (kind: Property(Track)),
        (kind: Text(" ")),
      ])),
      (kind: Group([
        (kind: Property(Artist)),
        (kind: Text(" - ")),
        (kind: Property(Title)),
      ]), default: (kind: Property(Filename)))
    ],
    level_styles: (
      info:  (fg: "#a6d189", bg: "#626880"),
      warn:  (fg: "#e5c890", bg: "#626880"),
      error: (fg: "#e78284", bg: "#626880"),
      debug: (fg: "#a6d189", bg: "#626880"),
      trace: (fg: "#f4b8e4", bg: "#626880"),
    ),
    components: {
      "custom-progressbar": Split(direction: Horizontal, panes: [
        (size: "3", pane: Pane(Property(content:[
          (kind: Property(Status(StateV2(playing_label: "  ", paused_label: "  ", stopped_label: "  "))),style: (fg: "#c6d0f5")),
        ]))),
        (size: "100%", pane: Pane(ProgressBar)),
        (size: "17", pane: Pane(Property(content:[
          (kind: Text(" [ "),style: (fg: "#babbf1", modifiers: "Bold")),
          (kind: Property(Status(Elapsed)),style: (fg: "#c6d0f5")),
          (kind: Text(" / "),style: (fg: "#babbf1", modifiers: "Bold")),
          (kind: Property(Status(Duration)),style: (fg: "#c6d0f5")),
          (kind: Text(" ] "),style: (fg: "#babbf1", modifiers: "Bold")),
        ], align: Right)),),
      ]),
      "custom-header": Split(direction: Vertical, panes: [
        (size: "100%", pane: Split(direction: Horizontal, panes: [
          (size: "20%", pane: Pane(Property(content: [
              (kind: Text(" [ "), style: (fg: "#babbf1", modifiers: "Bold")),
              (kind: Property(Song(Other("genre"))), default: (kind: Text("-")), style: (fg: "#c6d0f5")),
              (kind: Text(" ]"), style: (fg: "#babbf1", modifiers: "Bold")),
            ], align : Left)
          )),
          (size: "100%", pane: Pane(Property(content: [
              (kind: Property(Song(Album)), style: (fg: "#c6d0f5"), default: (kind: Text("Unknown Album"), style:(fg:"#c6d0f5")))
            ], align : Center)
          )),
          (size: "20%", pane: Pane(Property(content: [
              (kind: Text(" [ "),style: (fg: "#babbf1", modifiers: "Bold")),
              (kind: Property(Song(Other("date"))), default: (kind: Text("-")), style: (fg: "#c6d0f5")),
              (kind: Text(" ] "),style: (fg: "#babbf1", modifiers: "Bold"))
            ], align : Right)
          )),
        ])),
        (size: "100%", pane: Split(direction: Horizontal, panes: [
          (size: "30%", pane: Pane(Property(content: [
              (kind: Text(" [ "), style: (fg: "#babbf1", modifiers: "Bold")),
              (kind: Transform(Replace(content: (kind: Sticker("rating")), replacements: [
                (match:  "0", replace: (kind: Group([(kind: Text("    "), style: (fg: "#e5c890"))]))),
                (match:  "1", replace: (kind: Group([(kind: Text("    "), style: (fg: "#e5c890"))]))),
                (match:  "2", replace: (kind: Group([(kind: Text("    "), style: (fg: "#e5c890"))]))),
                (match:  "3", replace: (kind: Group([(kind: Text("    "), style: (fg: "#e5c890"))]))),
                (match:  "4", replace: (kind: Group([(kind: Text("    "), style: (fg: "#e5c890"))]))),
                (match:  "5", replace: (kind: Group([(kind: Text("    "), style: (fg: "#e5c890"))]))),
              ])), default: (kind: Text("    "), style: (fg: "#e5c890"))),
              (kind: Text(" | "),style: (fg: "#babbf1", modifiers: "Bold")),
              (kind: Property(Song(Disc)), default: (kind: Text("")), style: (fg: "#c6d0f5")),
              (kind: Text("-"),style: (fg: "#babbf1", modifiers: "Bold")),
              (kind: Property(Song(Track)),style: (fg: "#c6d0f5")),
              (kind: Text(" | "),style: (fg: "#babbf1", modifiers: "Bold")),
              (kind: Property(Status(Bitrate)),default: (kind: Text("0")),style: (fg: "#c6d0f5")),
              (kind: Text(" kbps"),style: (fg: "#c6d0f5")),
              (kind: Text(" ]"),style: (fg: "#babbf1", modifiers: "Bold"))
            ], align : Left)
          )),
          (size: "100%", pane: Pane(Property(content: [
              (kind: Property(Song(Title)), style: (fg: "#e5c890",modifiers: "Bold"), default: (kind: Text("No Song"), style: (fg: "#c6d0f5")))
            ], align : Center)
          )),
          (size: "30%", pane: Pane(Property(content: [
              (kind: Text(" [ "), style: (fg: "#babbf1", modifiers: "Bold")),
              (kind: Sticker("playCount"), default: (kind: Text("0"))),
              (kind: Text(" "),style: (fg: "#babbf1", modifiers: "Bold")),
              (kind: Text(" | "), style: (fg: "#babbf1", modifiers: "Bold")),
              (kind: Property(Status(QueueLength())),style: (fg: "#c6d0f5")),
              (kind: Text(" 󰴍"), style: (fg: "#c6d0f5", modifiers: "Bold")),
              (kind: Text(" | "), style: (fg: "#babbf1", modifiers: "Bold")),
              (kind: Property(Status(QueueTimeTotal(separator: " "))),style: (fg: "#c6d0f5")),
              (kind: Text(" 󱎫"), style: (fg: "#c6d0f5", modifiers: "Bold")),
              (kind: Text(" ] "), style: (fg: "#babbf1", modifiers: "Bold")),
            ], align: Right)
          )),
        ])),
        (size: "100%", pane: Split(direction: Horizontal, panes: [
          (size: "30%", pane: Pane(Property(content: [
              (kind: Text(" [ "), style: (fg: "#babbf1", modifiers: "Bold")),
              (kind: Property(Status(Volume)), style: (fg: "#e5c890")),
              (kind: Text("% "), style: (fg: "#e5c890", modifiers: "Bold")),
              (kind: Text("󰕾"), style: (fg: "#e5c890", modifiers: "Bold")),
              (kind: Text(" ]"), style: (fg: "#babbf1", modifiers: "Bold"))
            ], align : Left)
          )),
          (size: "100%", pane: Pane(Property(content: [
              (kind: Property(Song(Artist)), style: (fg: "#c6d0f5"), default: (kind: Text("Unknown Artist"), style: (fg: "#c6d0f5"))),
            ], align : Center)
          )),
          (size: "30%", pane: Pane(Property(content: [
              (kind: Text(" [ "), style: (fg: "#babbf1", modifiers: "Bold")),
              (kind: Property(Status(RepeatV2(
                on_label: "", 
                off_label: "",
                on_style: (fg: "#e5c890", modifiers: "Bold"), 
                off_style: (fg: "#c6d0f5", modifiers: "Bold"))))),
              (kind: Text(" | "), style: (fg: "#babbf1", modifiers: "Bold")),
              (kind: Property(Status(RandomV2(
                on_label: "", 
                off_label: "",
                on_style: (fg: "#e5c890", modifiers: "Bold"), 
                off_style: (fg: "#c6d0f5", modifiers: "Bold"))))),
              (kind: Text(" | "), style: (fg: "#babbf1", modifiers: "Bold")),
              (kind: Property(Status(ConsumeV2(
                on_label: "󰮯", 
                off_label: "󰮯", 
                oneshot_label: "󰮯󰇊",
                oneshot_style: (fg: "#e5c890", modifiers: "Bold"),
                on_style: (fg: "#e5c890", modifiers: "Bold"), 
                off_style: (fg: "#c6d0f5", modifiers: "Bold"))))),
              (kind: Text(" | "), style: (fg: "#babbf1", modifiers: "Bold")),
              (kind: Property(Status(SingleV2(
                on_label: "󰎤", 
                off_label: "󰎦", 
                oneshot_label: "󰇊", 
                off_oneshot_label: "󱅊",
                oneshot_style: (fg: "#e5c890", modifiers: "Bold"),
                off_oneshot_style: (fg: "#c6d0f5", modifiers: "Bold"),
                on_style: (fg: "#e5c890", modifiers: "Bold"), 
                off_style: (fg: "#c6d0f5", modifiers: "Bold"))))),
              (kind: Text(" ] "), style: (fg: "#babbf1", modifiers: "Bold")),
            ], align: Right)
          )),
        ])),
      ]),
      "custom-home": Split(direction: Vertical, panes: [
        (size: "100%", borders: "NONE", pane: Split(direction: Horizontal, panes: [
          (size: "100%", borders: "ALL", pane: Pane(Queue)),
        ])),
        (size: "10", borders: "NONE", pane: Split(direction: Horizontal, panes: [
            (size: "21", borders: "ALL", pane: Pane(AlbumArt)),
            (size: "100%", borders: "ALL", pane: Pane(Cava)),
        ])),
      ]),
    },
    cava: (
      bar_symbols: ['▁', '▂', '▃', '▄', '▅', '▆', '▇', '█'],
      bar_width: 2, 
      bar_spacing: 1,
      bg_color: None,
      bar_color: Gradient({
        0:    "#babbf1",
        8:    "#8caaee",
        16:   "#85c1dc",
        23:   "#99d1db",
        30:   "#81c8be",
        38:   "#a6d189",
        46:   "#e5c890",
        53:   "#ef9f76",
        61:   "#ea999c",
        69:   "#e78284",
        76:   "#ca9ee6",
        84:   "#f4b8e4",
        92:   "#eebebe",
        100:  "#f2d5cf",
      })
    ),
)
