// https://gitlab.gnome.org/GNOME/gtk/-/blob/gtk-3-24/gtk/theme/Adwaita/_colors-public.scss
$fg-color: #{"@theme_fg_color"};
$bg-color: #{"@theme_bg_color"};


// Base
$base: #303446;
$mantle: #292c3c;
$crust: #232634;

// Surfaces
$surface0: #414559;
$surface1: #51576d;
$surface2: #626880;

// Overlays
$overlay0: #737994;
$overlay1: #838ba7;
$overlay2: #949cbb;

// Text tones
$subtext0: #a5adce;
$subtext1: #b5bfe2;
$text: #c6d0f5;

// Accent colors
$rosewater: #f2d5cf;
$flamingo: #eebebe;
$pink: #f4b8e4;
$mauve: #ca9ee6;
$red: #e78284;
$maroon: #ea999c;
$peach: #ef9f76;
$yellow: #e5c890;
$green: #a6d189;
$teal: #81c8be;
$sky: #99d1db;
$sapphire: #85c1dc;
$blue: #8caaee;
$lavender: #babbf1;

$bg: #1e1e2e;
$fg: #cdd6f4;
$accent: $lavender;
$radius: 10px;
$border-width: 2.5px;
$font-family: "ComicShannsMono Nerd Font Mono";
$font-size: 16px;


button {
  border: none;
  border-radius: 0;
  font-size: $font-size;
}

label {
  color: $text;
}

.component {
  border: $border-width solid $surface0;
  border-radius: $radius;
  background: $crust;

  &.focused {
    border: $border-width solid $lavender;

    label {
      color: $lavender;
    }
  }

  &:hover {
    border: $border-width solid $yellow;

    label {
      color: $yellow;
    }
  }


}
